body {
    background-color: #e4e4e4;
	font-family: Open Sans;
    margin-top: 5%;
    margin-bottom: 50px;
}

.question {
    background-color: #02522b;
    color: white;
    padding: 10px;
    text-align: center;
}

.question h4{
    display:inline-block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 0px;
}

.question {
  text-align: center;
  padding-bottom: 10px;
}

.qbox {
  padding-top: 150px;
}

.wrong {
  box-shadow: 0px 0px 50px 3px rgb(230, 0, 0), 0px 6px 20px 0 rgb(230, 0, 0);
}

.correct {
  box-shadow: 0px 0px 50px 3px rgb(0, 180, 0), 0px 6px 20px 0 rgb(0, 180, 0);
}

.row {
  justify-content: center;
}

/*
.optionButton {
  position: relative;
  padding: 0px;
  display: inline-block;
  margin: 10px;
  outline: none;
  box-shadow: 2px 2px 4px #000000;
  font-size: 1em;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}
*/

button {
  position: relative;
  padding: 0px;
  display: inline-block;
  margin: 10px;
  outline: none;
  box-shadow: 2px 2px 4px #000000;
  font-size: 1em;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

.optionButton img{
  max-width: 200px;
}


.optionButton img:hover {
    transform: scale(1.03);
    box-shadow: 2px 2px 4px #000000;
}
